/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 13, 2018, 12:09:52 PM
    Author     : mithu
*/

.parent{
    width: 200px;
    height: 250px;
    border: 1px solid #CCC;
    /*create for 3D space*/
    perspective: 500px;
}
.child{
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 250px !important;
    text-align: center;
    color: white;
    font: 20px sans-serif;
    font-weight: bold;
    /*creat 3D space for children*/
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
    transform-origin: center right;
}
.allDes{
    width: 100%;
    height: 100%;
    position: absolute;
}
.front{
    background: red;
    border-left: 5px solid black;
    border-right: 5px solid gray;
}
.back{
    background: blue;
    border-left: 5px solid yellow;
    border-right: 5px solid green;
    backface-visibility: hidden;
    /*here we used rotateY(180deg) because .back parent have
    rotate(180deg) by .isFillped class, so if you didn't use in .back
    rotateY(180deg) it means that you may saw reverse side of .back
    class.
    */
    transform: rotateY(180deg);
}
.isFillped{
    transform: translateX(-100%) rotateY(-180deg);
}